* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: #d8f8ff;
}

#container {
  padding-top: 6rem;
  padding-bottom: 2.8rem;
  text-align: center;
  width: 93%;
  margin-left: 3rem;
  margin-top: 3rem;
  background-image: linear-gradient(to right, #a6eff1, #edaad8);
}

#text_counter {
  position: relative;
  top: -2rem;
  font-size: 1.4rem;
  letter-spacing: 7px;
  word-spacing: 5px;
  color: #ffffff;
  text-transform: capitalize;
}

#counter_input {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

#counter_input input[type="number"] {
  width: 25rem;
  height: 2.5rem;
  font-size: 1.3rem;
}

#btn_counter {
  padding: 10px 20px;
  font-size: 1rem;
  color: black;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#btn_counter:hover {
  box-shadow: 0 0 10px 2px white;
}

#counter {
  margin-top: 3rem;
  width: 70%;
  margin-left: 13rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  background-color: #555555;
}

.num_counter {
  text-align: center;
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  border-top: 2px solid black;
  box-shadow: 0 0 5px 1px white;
  background-color: white;
  font-size: 3rem;
  padding-top: 0.5rem;
}

.counter_display {
  margin-right: 1.2rem;
  margin-top: 3rem;
}
