* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: #d8f8ff;
}

#container {
  padding: 5rem 0;
  text-align: center;
  width: 93%;
  margin-left: 3rem;
  margin-top: 4rem;
  background-image: linear-gradient(to right, #a6eff1, #edaad8);
}

#text_counter {
  position: relative;
  top: -2rem;
  font-size: 1.3rem;
  letter-spacing: 8px;
  color: #ffffff;
}

#counter_input {
  display: flex;
  justify-content: space-around;
}

#counter_input input[type="number"] {
    width: 25rem;
    height: 2rem;
}
