* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #000000;
}

#player-details {
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 2rem;
    font-family: monospace;
    font-size: 1.3rem;
    font-weight: bold;
}

#player-details div {
    padding-left: 5rem;
}

#rod1 {
    position: absolute;
    width: 1.5rem;
    height: 12rem;
    border-radius: 1rem;
    top: 14rem;
    left: 0.5rem;
    background-color: #ffffff;
    text-align: center;
    padding-top: 3px;
}

#ball {
    position: relative;
    left: 44rem;
    top: 15.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffffff;
    border-radius: 50%;
}

#rod2 {
    position: absolute;
    width: 1.5rem;
    height: 12rem;
    border-radius: 1rem;
    left: 83.5rem;
    top: 14rem;
    background-color: #ffffff;
    text-align: center;
    padding-top: 3px;
}