* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #d8f8ff;
}

#counter-header {
  margin-top: 5rem;
  text-align: center;
  width: 90%;
  height: 13rem;
  margin-left: 5rem;
  padding: 6rem 0;
  background-image: linear-gradient(to right, #a6eff1, #edaad8);
}

#counter-header h3 {
  color: white;
  letter-spacing: 8px;
  word-spacing: 1rem;
  margin-top: -3rem;
}

#counter-start {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

#counter-start input[type="number"] {
  font-size: 1.2rem;
  padding-left: 0.3rem;
}

#number {
  height: 3rem;
  width: 23rem;
}

#counter_btn {
  height: 2.5rem;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  color: black;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#counter_btn:hover {
  box-shadow: 0 0 10px 2px white;
}

#counter-body {
  margin-top: 3rem;
  width: 70%;
  margin-left: 13rem;
  height: 10rem;
  background-color: #555555;
}

.counter {
  overflow: hidden;
  position: relative;
  top: 3rem;
}

p.current_one {
  text-align: center;
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  border-top: 2px solid black;
  box-shadow: 0 0 5px 1px white;
  background-color: white;
  font-size: 3rem;
  padding-top: 0.5rem;
  position: relative;
  left: 10rem;
}

p.current_two {
  text-align: center;
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  border-top: 2px solid black;
  box-shadow: 0 0 5px 1px white;
  background-color: white;
  font-size: 3rem;
  padding-top: 0.5rem;
  position: relative;
  left: 5rem;
  top: -4rem;
}

p.current_three {
  text-align: center;
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  border-top: 2px solid black;
  box-shadow: 0 0 5px 1px white;
  background-color: white;
  font-size: 3rem;
  padding-top: 0.5rem;
  position: relative;
  top: -8rem;
}

p.current_four {
  text-align: center;
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  border-top: 2px solid black;
  box-shadow: 0 0 5px 1px white;
  background-color: white;
  font-size: 3rem;
  padding-top: 0.5rem;
  position: relative;
  left: -5rem;
  top: -12rem;
}

p.current_five {
  text-align: center;
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  border-top: 2px solid black;
  box-shadow: 0 0 5px 1px white;
  background-color: white;
  font-size: 3rem;
  padding-top: 0.5rem;
  position: relative;
  left: -10rem;
  top: -16rem;
}

p.next {
  text-align: center;
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  border-top: 2px solid black;
  box-shadow: 0 0 5px 1px white;
  background-color: white;
  font-size: 3rem;
  padding-top: 0.5rem;
  position: absolute;
  left: 37.52rem;
  top: -0.01rem;
}

p.transition {
  transition: all 1s;
  top: 0px;
}
